/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-background: #FFFFFF;
    --color-background-top: #B8E2F2;
    --color-buttonblack: ;
    --color-buttonwhite: ;



}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'Kanit', sans-serif;
    font-weight: 300;

}


/*********************/
/****** Header ******/
/*********************/


header {
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

header img:first-of-type {
    width: 10em;
}

header img:nth-of-type(2) {
    width: 2.4em;
    margin-right: -5em;

}

header button {
    position: relative;
    z-index: 100;

}

header nav {
    position: fixed;
    inset: 0;
    background-color: var(--color-background);

    transform: translateX(100%);

    transition: 1s;
}

header nav.open {
    transform: translateX(0%);
}


header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    align-items: center;





}

header li {
    color: var(--color-text);
    justify-content: space-between;
}





/*
header >  > ul > li {
   de buttons in het midden van de li's positioneren
  display:grid;
  place-content:center;
}
*/

header button {
    height: 2.75rem;
    aspect-ratio: 1/1;
    padding: 0;
    text-indent: 100%;

    white-space: nowrap;
    overflow: hidden;
    color: white;

    /*    BRON https://stackoverflow.com/questions/471510/hide-text-using-css*/

    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1em;
    background-image: url("/images/menu_FILL0_wght400_GRAD0_opsz48.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    /*    BRON VAN SANNE*/
}

header button.open {
    background-image: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
    /*    lukt me niet om plaatje te veranderen*/

}



/*********************/
/****** Section 1 ******/
/*********************/

section:first-of-type {
    margin: 0;
    background-color: var(--color-background);
    background-image: url(/images/bannervisual.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section:first-of-type h1 {
    margin: 1em;
    font-size: 2em;
    display: flex;
    justify-self: center;

}

section:first-of-type a:first-of-type {
    color: white;
    font-size: .8em;
    padding: 1em;
    border-radius: .5em;
    background-color: black;
    text-decoration: none;

}

section:first-of-type a:nth-of-type(2) {
    color: var(--color-text);
    font-size: .8em;
    padding: 1em;
    border: .15em solid;
    border-radius: .5em;
    background-color: var(--color-background);
    text-decoration: none;
}

section:first-of-type p {
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 1em;
    font-size: 1em;


}







/*********************/
/****** Section 2 ******/
/*********************/





/*********************/
/****** Section 3 ******/
/*********************/


section:nth-of-type(3) {
    background-color: var(--color-background-top);
    display: flex;
    flex-direction: column
}

section:nth-of-type(3) h2 {
    color: var(--color-text);
    font-size: 2.5em;
    margin: .7em;
    max-width: 70%;
}

section:nth-of-type(3) ul {
    list-style-image: url(/images/checkcircle.png);
}

section:nth-of-type(3) p {
    margin: .7em 2em;
}

section:nth-of-type(3) a {
    color: white;
    background-color: #04622d;
    text-align: start;
    margin: .7em 2em;
    padding: 1em;
    text-decoration: none;
    border-radius: .5em;
    max-width: 10.8em;
}



/*********************/
/****** Section 4 ******/
/*********************/


section:nth-of-type(4) {
    background-color: var(--color-background-top);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,
            #F6F6F6 0%,
            #F6F6F6 88%,
            #B8E2F2 88%,
            #B8E2F2 100%);


}

/*De gele ul binnen de section*/

section:nth-of-type(4) h3:first-of-type {
    color: var(--color-text);
    display: inline-block;
    margin-left: 1em;

}

section:nth-of-type(4) h3:nth-of-type(2) {
    color: yellow;
    display: inline-block;
    margin-left: 1em;
}


section:nth-of-type(4) ul:first-of-type {
    background-color: yellow;
    font-size: 1.04em;
    line-height: 2em;
    padding: 2em;
    margin: 1em;
    list-style-image: url(/images/drop-black.svg);


}

/*De zwarte ul binnen de section*/

section:nth-of-type(4) ul:nth-of-type(2) {
    color: yellow;
    background-color: black;
    line-height: 2em;
    font-size: 1.04em;
    padding: 2em;
    margin: 1em;
    list-style-image: url(../images/dropyellow.svg);

}

section:nth-of-type(4) h3 {
    display: flex;
    justify-content: center;

}

section:nth-of-type(4) p {
    margin: 1em;
    text-align: center;
    font-weight: 300;

    /*ik weet niet of text align semantisch is maar met flex lukt het mij niet*/

}



section:nth-of-type(4) p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    padding: 2em;
    font-weight: bold;
}

section:nth-of-type(4) a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em;
    margin: 1em 8em;
    border-radius: .5em;
    background-color: black;
    text-decoration: none;
}



section:nth-of-type(4) iframe {
    padding: 2em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}




/*********************/
/****** Section 5 ******/
/*********************/



section:nth-of-type(5) {
    background-color: #F6F6F6;
    display: inline-block;
}



/*********************/
/****** Section 6 ******/
/*********************/



section:nth-of-type(6) {
    background-color: #F6F6F6;
}

section:nth-of-type(6) h2 {
    font-size: 2.5em;
    font-weight: 500;
    max-width: 6em;
    line-height: 1em;
    margin-left: .5em;
}


section:nth-of-type(6) p {
    margin: 1em;
    margin-bottom: 2em;
    font-weight: 300;

}


section:nth-of-type(6) img {
    width: 100%;
}

section:nth-of-type(6) a {
    color: var(--color-text);
    border: solid;
    border-radius: .2em;
    padding: .5em 1em;
    text-decoration: none;
    margin: 1em;

}



/*********************/
/****** Section 7 ******/
/*********************/



section:nth-of-type(7) {
    display: inline-block;
    background-color: #FB7028;
    margin-top: 8em;
    margin-bottom: 2em;
    padding-top: #FB7028;
    position: relative;
}

section:nth-of-type(7) h3 {
    margin-left: 1em;
    margin-top: 11em;
    font-size: 1.8em;
    max-width: 8em;

}


section:nth-of-type(7) p:first-of-type {
    margin: 1.3em;
    z-index: 100;
}

section:nth-of-type(7) marquee {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: .012em white;
    font-size: 5em;
    font-weight: 500;
    z-index: 100;
    bottom: 4em;
}

section:nth-of-type(7) a {
    text-decoration: none;
    margin: 1.3em;
    color: white;
    font-size: .8em;
    padding: 1em;
    border-radius: .5em;
    background-color: black;
    text-decoration: none;
}

section:nth-of-type(7) img {
    position: absolute;
    max-width: 70%;
    top: -3.5em;
}

section:nth-of-type(7) img:nth-of-type(2) {
    position: absolute;
    top: -7em;
    left: 13em;
    max-width: 40%;
    border-radius: .3em;
}



/*********************/
/****** Section 8 ******/
/*********************/



section:nth-of-type(8) {
    display: inline-block;
    background-color: #E2B1A5;
    display: flex;
    flex-wrap: wrap;
     margin-bottom: 2em;
}

section:nth-of-type(8) h4 {
    font-size: 2em;
    font-weight: 500;
    margin-left: 1em;
}

section:nth-of-type(8) h4:nth-of-type(2) {
    font-size: 2em;
    font-weight: 500;
    margin-left: 1em;
    margin-bottom: .1em;
}

section:nth-of-type(8) img {
    max-width: 11em;

}

section:nth-of-type(8) p {
    font-weight: 200;
    margin-left: 2em;
    margin-right: 2em;
}

section:nth-of-type(8) label {
    margin-left: 2em;

}

section:nth-of-type(8) input {
    font-size: .9em;
    color: #525050;
    background-color: transparent;
    border-radius: .5em 0em  0em .5em;
    border-color: black;
    padding:.5em 1em;
}

section:nth-of-type(8) button {
    font-size: 1em;
    color: white;
    border-radius: 0em .5em  .5em 0em;
    border-color: black;
    padding:1em;
    background-color: var(--color-text);
}




/*********************/
/****** Footer ******/
/*********************/

footer {
    display: inline-block;
    color: white;
    background-color: black;
}
